* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.main {
    width: 1200px;
    height: auto;
    margin: auto;
}

header {
    padding: 20px 0;
    width: 100%;
    height: 140px;
}


.connection div i {
    padding: 0 6px;
}

.connection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 20px;
    font-size: 14px;
    gap: 20px;
    color: #333;
}

.connection div {
    display: flex;
    align-items: center;
    gap: 6px;
}


.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: #fff;
}

.logo img {
    height: 40px;
    object-fit: contain;
}

.catalog {
    background-color: #7159f3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 0 -15px 0 15px;
}

.search {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #f9f9f9;
    color: #807f7f;
}

.search input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    padding-left: 10px;
    font-size: 14px;
}

.favorite,
.basket,
.login {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #444;
    padding: 10px;    
    background-color: #f0f0f0;
    margin: 6px;
    border-radius: 6px;
}

.login p {
    margin-left: 4px;
}


.poster{
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 4fr));
    grid-template-rows: 220px 260px;
    padding: 40px 20px;
    gap: 10px;
}

.item1 {
    grid-column: span 2;
    grid-row: span 2;
}

.item2 {
    grid-column: span 2;
}


.advantages {
    width: 100%;
    height: 130px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage p {
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

.novelty hr {
    width: 150px;
    height: 6px;
    background-color: #7159f3;
    border-radius: 3px;
    margin-top: -20px ;
}

.noveltyFirst {
    margin-top: 10px;
}


.novelty {
    width: 100%;
    height: 60px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 40px;
}

.novelty h1 {
    font-size: 22px;
    text-align: center;
}

.noveltySecond {
    color: #807f7f;
}


.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(auto-fit, 490px);
    justify-content: space-evenly;
    row-gap: 30px;
}

.product img {
    width: 100%;
    height: 260px;
    border-radius: 12px;
}

.product {
    text-align: center;
    height: 460px;
    position: relative;
}

.product p {
    font-size: 16px;
    margin: 2px 0 10px;
}

.product span {
    color: #807f7f;
    font-size: 12px;
}

.product h1 {
    font-size: 20px;
    margin: 20px;
}

.add {
    width: 259px;
    height: 42px;
    background-color: #7159f3;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
}

.add p {
    padding: 10px 10px 0;
}

.seeMore {
    width: 95%;
    height: 40px;
    background-color: #E3E8FC;
    color: #7159f3;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px 30px;
}


.giftBlock {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.giftBlock img{
    width: 83%;
}

